$font-family-base: 'Lexend', system-ui, sans-serif;

$breakpoints: (
    sm:   40rem,    // 640px
    md:   48rem,    // 768px
    lg:   64rem,    // 1024px
    xl:   80rem,    // 1280px
    '2xl': 96rem,   // 1536px 
);

$css-vars: (
    text-primary: black,
    text-highlight: #4CAF50,
    text-secondary: #80CBC4,
    text-muted: #757575,
    text-error: #C20000,
    background-main: #FFFFFF,
    background-secondary: #F5F5F5,
    background-grey: #F7F8F9,
    primary-color: #003366,
    secondary-color: #4CAF50,
    sub-btn-color: #009BA1,
    color-orange: #F2711C,
    sub-color: #4CAF50,
    accent-color: #80CBC4,
    alert-error: #FF5252,
    alert-warning: #FFC107,
    btn-hover-color: #F0F8FF,    
);